<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>California Disasters</title>

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="static\css\customstyle.css" />
</head>

<body>

    <div class="wrapper">
        <!-- Sidebar -->
        <nav id="sidebar">


            <ul class="list-unstyled components">
                <li class="active">
                    <a href="https://california-disasters.herokuapp.com/">Home</a>
                </li>
                <li>
                    <a href="https://california-disasters.herokuapp.com/about">About</a>
                </li>
                <li>
                    <a href="https://california-disasters.herokuapp.com/api-documentation">API</a>
                </li>
            </ul>

            </nav>

        <!-- Page Content -->
        <div id="content">
            <div class="heading">
                <h1>Finding Safe Harbor in California</h1>
            </div>
            <div class="line"></div>

            <h4>Data:</h4>
            <p>Data used in this project:
                <ul>
                    <li><a href="https://earthquake.usgs.gov/fdsnws/event/1/#parameters" target="blank">Earthquake data from USGS</a></li>
                    <li><a href="https://www.fire.ca.gov/incidents/" target="blank">Wildfire data from Cal Fire</a></li>
                    <li><a href="https://gis.data.ca.gov/datasets/CDTFA::city-and-county-boundaries/geoservice?geometry=-161.120%2C31.068%2C-77.492%2C43.274" target="blank">California county border shapes from the California State Geoportal</a></li>
                </ul>
            </p>

            <p>Wildfire csv file cleaned by Janelle earthquake csv cleaned by Ali, county data for earthquake locations webscraped in Python by Kelly using 
                <a href="http://www.statsamerica.org/CityCountyFinder/Default.aspx" target="blank">City to County Finder by StatsAmerica</a>
            and <a href="https://www.wikipedia.org/" target="blank">Wikipedia.</a></p>

            <p>SQLite database created and populated by Kelly using. API created in Python by David.</p>

            <p>Map created in Leaflet. Earthquakes mapped in Javascript by Kelly. SVGs for earthquake markers made by <a href="https://www.freepik.com" title="Freepik">
                Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> and colored by Kelly. Fires mapped in Javascript by David, Ali, and Janelle.
            County shape layer placed on map by Ali in Javascript. Data filtering function created by Ali in Javascript. Bar chart visualization created by
        Janelle and Ali in Javascript using the <a href="https://www.highcharts.com/demo/bar-basic" target="blank">Highcharts JS library</a>.</p>

        <p>Note regarding the wildfire visualization: while we are confident that the location information used in our analysis of the wildfires is
            accurate, upon plotting the latitude/longitude data provided by Cal Fire, we noticed that many coordinates fell outside of California's borders, even in the ocean,
            some as far away as North Carolina, or even off the coast of Spain. We believe the coordinate data was entered inaccurately for a number of wildfires.  
            We are also suspicious that older data may have been entered inconsistently, as there are so few fires for years in the earlier part of the dataset.
            Given more time, we would have used a web scraper or library to designate coordinates for each county in the dataset and re-plotted according to those coordinates, 
            so that we could at least get a more accurate visualization of recent fires.
        </p>

            <p>Data analysis performed by Kelly in Python. Bar chart visualization created by Janelle and Ali in Javascript.</p>

            <h4>Web Development</h4>
            <p>Bootstrap development and Heroku deployment managed by David. HTML/CSS, website text, 
                and <a href="https://fotorama.io/">Fotorama image carousel</a> managed by Kelly. Javascript managed by Ali.</p>

            <p></p>

            

        </div>

        

    </div>

   



    
  
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>

    <!-- jQuery Custom Scroller CDN -->
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

 

    <!-- Sidebar Formatting -->
    <script type="text/javascript">
        $(document).ready(function () {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar, #content').toggleClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });
    </script>

</body>

</html>
