<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>California Disasters</title>

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <link rel="stylesheet" href="static\css\customstyle.css" />

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
        integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
        crossorigin="" />

    <!-- Fotorama-->
    <!-- jQuery 1.8 or later, 33 KB -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- Fotorama from CDNJS, 19 KB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>



</head>

<body>

    <div class="wrapper">
        <!-- Sidebar -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Navigation</h3>
            </div>

            <ul class="list-unstyled components">
                <li class="active">
                    <a href="https://california-disasters.herokuapp.com/">Home</a>
                </li>
                <li>
                    <a href="https://california-disasters.herokuapp.com/about">About</a>
                </li>
                <li>
                    <a href="https://california-disasters.herokuapp.com/api-documentation">API</a>
                </li>
            </ul>


                            <!-- Add images to <div class="fotorama"></div> -->
                            <div class="fheading"><br>
                                <center>
                                    <h5>Meet your developers!</h5>
                                </center>
                            </div>
                            <div class="slider_fotorama fotorama" data-allowfullscreen="false" data-click="false" data-loop="true"
                                data-auto="true" data-shuffle="true" data-arrows="true" data-width="100%" data-fit="contain">
            
                                <div data-img="https://i.ibb.co/LdW1KZD/ali.png" data-caption="<b>Ali Emily</b><br>Data Cleaning & Filtering<br>GIS admin<br>Javascript admin">
                                    <div class="slider_inner">
                                        <a href="https://www.linkedin.com/in/alexandra-emily/" target="_blank"><img
                                                src="https://i.ibb.co/LdW1KZD/ali.png" style="width:100%;"></a>
                                    </div>
                                </div>
            
                                <div data-img="https://i.ibb.co/ryCLHP6/david.jpg" data-caption="<b>David Fournie</b><br>API admin<br>Bootstrap admin<br>Heroku admin">
                                    <div class="slider_inner">
                                        <a href="https://www.linkedin.com/in/david-r-fournie/" target="_blank"><img
                                                src="https://i.ibb.co/ryCLHP6/david.jpg" style="width:100%"></a>
                                    </div>
                                </div>
            
                                <div data-img="https://i.ibb.co/ZcPGNW4/janelle.jpg" data-caption="<b>Janelle Goddard</b><br>Data Cleaning<br>Data Visualization<br>Highchart admin">
                                    <div class="slider_inner">
                                        <a href="https://www.linkedin.com/in/janelle-goddard-b4872816b/" target="_blank"><img
                                                src="https://i.ibb.co/ZcPGNW4/janelle.jpg" style="width:100%"></a>
                                    </div>
                                </div>
            
                                <div data-img="https://i.ibb.co/mGvzqg8/kelly.jpg" data-caption="<b>Kelly Hull</b><br>Web scraping<br>Data Visualization<br>Data Analyst<br>HTML/CSS admin"> 
                                    <div class="slider_inner">
                                        <a href="https://i.ibb.co/mGvzqg8/kelly.jpg" target="_blank"><img
                                                src="headshots\kelly.jpg" style="width:100%"></a>
                                    </div>
                                </div>
        
        </nav>

            </nav>


        <!-- Page Content -->
        <div id="content">

            <button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="fas fa-align-left"></i>
                <span>Toggle Sidebar</span>
            </button>
            <div class="heading">
                <h1>Finding Safe Harbor in California</h1>
            </div>
            <div class="line"></div>

            <p>
y
                <strong>test test</strong><br>
                test test



            

        </div>


       

    </div>





    

    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>

    <!-- jQuery Custom Scroller CDN -->
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>



    <!-- Sidebar Formatting -->
    <script type="text/javascript">
        $(document).ready(function () {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar, #content').toggleClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });
    </script>

</body>

</html>
