<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>California Disasters</title>

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
</head>

<body>

    <div class="wrapper">
        <!-- Sidebar -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Navigation</h3>
            </div>

            <ul class="list-unstyled components">
                <li class="active">
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="api-documentation">API</a>
                </li>
            </ul>
        
            <div id="content">

                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                    <span>Toggle Sidebar</span>
                </button>
                <div class="heading">
                    <h1>API Documentation</h1>
                </div>
                <div class="line"></div>
    
                <p>
                    California is one of the biggest and most populous states in the entire US. But just how safe is it to
                    live and work there?
                </p>
                <p>
                    By looking at the number and size of earthquakes and wildfires- two of California's most common national
                    disasters- as well as the counties in which
                    these disasters take place and the frequency with which those counties experience wildfires and
                    earthquakes, we can determine which counties are the
                    safest and most dangerous.
                </p>