<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>API Documentation</title>

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="static\css\customstyle.css" />

</head>

<body>

    <div class="wrapper">
        <!-- Sidebar -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Navigation</h3>
            </div>

            <ul class="list-unstyled components">
                <li class="active">
                    <a href="https://california-disasters.herokuapp.com/">Home</a>
                </li>
                <li>
                    <a href="https://california-disasters.herokuapp.com/about">About</a>
                </li>
                <li>
                    <a href="https://california-disasters.herokuapp.com/api-documentation">API</a>
                </li>
            </ul>

            
        
        </nav>

        <!-- Page Content -->
        <div id="content">

            <button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="fas fa-align-left"></i>
                <span>Toggle Sidebar</span>
            </button>
            <div class="heading">
                <h1>API Documentation</h1>
            </div>
            <div class="line"></div>

            <p>
                Base: <strong>https://california-disasters.herokuapp/api/v1.0</strong><br><br>
                To connect to the fire and earthquake databases, simply add "fire" or "earthquake" to the end of the api base.<br><br>
                Example Fire: <a href="https://california-disasters.herokuapp/api/v1.0/fire">https://california-disasters.herokuapp/api/v1.0/fire</a><br>
                Example Earthquake: <a href="https://california-disasters.herokuapp/api/v1.0/earthquake">https://california-disasters.herokuapp/api/v1.0/earthquake</a><br><br>
                In the fire db, the database can also be queried by county by adding "/county" and county name after the fire query.<br><br>
                Example: <a href="https://california-disasters.herokuapp/api/v1.0/fire/county/yuba">https://california-disasters.herokuapp/api/v1.0/fire/yuba</a><br><br>
                Furthermore, the fire db can be queried by date by adding "/date" and "mm-dd-yyyy" after fire. Months 1-9 are single letter entries. <br>
                Example: <a href="https://california-disasters.herokuapp/api/v1.0/fire/date/8-3-2020">https://california-disasters.herokuapp/api/v1.0/fire/date/8-3-2020</a><br><br>
                According to the Natinal Wildfire Coordinating Group, wildfires are classified into seven groups based on how many acres burned.<br><br>
                <strong>Class A</strong>:"One-fourth acre or less" <br>
                <strong>Class B</strong>:"More than one-fourth acre, but less than 10 acres"<br>
                <strong>Class C</strong>:"10 acres or more, but less than 100 acres"<br>
                <strong>Class D</strong>:"100 acres or more, but less than 300 acres" <br>
                <strong>Class E</strong>:"300 acres or more, but less than 1,000 acres" <br>
                <strong>Class F</strong>:"1,000 acres or more, but less than 5,000 acres" <br>
                <strong>Class G</strong>:"5,000 acres or more" <br> <br>
                The Fire database has been designed to query based on these six classes. Simply add "/classification" and the classification letter at the end of the fire query.<br>
                Example: <a href="https://california-disasters.herokuapp/api/v1.0/fire/classification/g">https://california-disasters.herokuapp/api/v1.0/fire/classification/a</a><br><br>
                The Earthquake database is queried in similar fashions. To query the database on earthquake magnitude, simply add "/magnitude" and the richter-scale value(1-10) of the earthquake to the earthquake query.<br>
                Example: <a href="https://california-disasters.herokuapp/api/v1.0/earthquake/magnitude/5">https://california-disasters.herokuapp/api/v1.0/earthquake/magnitude/5</a><br><br>
                Depth has also been included as a query option simply add "/depth" and the depth km to the end of earthquake query. Note: km values range 1 to 28.<br>
                Example: <a href="https://california-disasters.herokuapp/api/v1.0/earthquake/depth/15">https://california-disasters.herokuapp/api/v1.0/earthquake/depth/15</a><br><br>
                Earthquakes are classified both on their magnitude and depth. Earthquake magnitudes are divided into four categories:<br>
                <strong>Moderate</strong>: Magnitude less than 6<br>
                <strong>Strong</strong>: Magnitude 6-7(exclusive)<br>
                <strong>Major</strong>: Magnitude 7-8(exclusive)<br>
                <strong>Great</strong> Magnitude 8 and above<br><br>
                To query the earthquake database on magnitude classification, simply add "/magnitude/classification" and the classification.<br><br>
                Example:<a href="https://california-disasters.herokuapp/api/v1.0/earthquake/magnitude/classification/great">https://california-disasters.herokuapp/api/v1.0/earthquake/magnitude/classification.great</a><br><br>
                Likewise, earthquakes are also categorized by depth. Earthquake depths are divided into three categories from deep(minor earthquake) to shallow(major earthquake):<br><br>
                <strong>Deep</strong>: More than 33km deep<br>
                <strong>Mid</strong>: Between 17km and 33km deep<br>
                <strong>Shallow</strong>: Less than 17 km<br><br>
                To query on depth classification simply add "/depth/classification" and the classification to the earthquake query.<br><br>
                Example:<a href="https://california-disasters.herokuapp/api/v1.0/earthquake/depth/classification/mid">https://california-disasters.herokuapp/api/v1.0/earthquake/depth/classification/mid</a><br><br>
                Happy quering!


            </p>
            

            

        </div>

       

    </div>

    <h1>California Disasters</h1>



    
    
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>

    <!-- jQuery Custom Scroller CDN -->
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

   


    <!-- Sidebar Formatting -->
    <script type="text/javascript">
        $(document).ready(function () {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar, #content').toggleClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });
    </script>

</body>

</html>
